:root{
    --indent: 0;
}

body{
    padding: 0px 30vw 50vh;
    height: 100vh;
    background-color: rgb(20, 22, 27);
    color: white;

    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, input, ul, ol, summary{
    margin: 0;
    font-size: 1.1rem;
    font-style: unset;
    font-weight: 300;
    font-family: "Bricolage Grotesque";
}

ul, ol{
    margin-bottom: 5px;
}

li{
    margin-bottom: 2px;
}

.taskSel{
    align-self: center;
    margin: 20px 0px;
}
.tasks{
    padding: 15px 30px;
    margin: 0px 5px;
    background-color: rgb(55, 60, 73);
    border-radius: 10px;
    border: unset;
    font-size: 1.1rem;
    color: white;
    font-family: "Bricolage Grotesque";
    cursor: pointer;
}

.taskWrapper{
    margin-bottom: 50vh;
}