:root{
    --indent: 0;
}

body{
    margin: 0px 30vw;
    height: 100vh;
    background-color: rgb(20, 22, 27);
    color: white;

    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, input, ul, ol, summary{
    margin: 0;
    font-size: 1.1rem;
    font-style: unset;
    font-weight: 300;
    font-family: "Bricolage Grotesque";
}

details{
    margin-left: calc(var(--indent) * 1.5rem);
    margin-bottom: 10px;
    cursor: pointer;
}

ul{
    margin-bottom: 5px;
}

button{

}

.taskSel{
    align-self: center;
}