<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
   
    {% for css in page.css %}
        <link rel="stylesheet" href="{{ css }}">
    {% endfor %}

    {% for js in page.js %}
        <script defer src="{{ js }}"></script>
    {% endfor %}
    
</head>
<body>
    
    {% include header.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}

</body>
</html>